<!doctype html>
<html ng-app="mcon">

<head>
    <script src="vendor/angular.js"></script>
    <script src="vendor/angular-ui.js"></script>
    <script src="scripts/app.js"></script>
    <link href="styles/bootstrap.css" rel="stylesheet">
</head>

<body>
    <div ng-controller="MainCtrl">
        <div accordion>
            <div ng-repeat="employee in employees" accordion-group class="accord" heading="{{employee.name}}">
                <span ng-click="showDetails(this)">
            		Employee ID: {{employee.id}}
                <br> Employee Designation: {{employee.designation}}
                <br> Employee DOB: {{employee.dob}}
                <br> Employee Level: {{employee.level}}
                <br> Employee Manager: {{employee.manager}}
            	</span>
            </div>
        </div>
    </div>
</body>

</html>